<%= form_for @workout do |f| %>

  <p>
    <%= f.label :time_taken %> <br> In
    <%= number_field(:workout, :time_taken, in: 1.0..20000.0, step: 1) %>
     Minutes

  </p>

  <p>
    <%= f.label :lenght %> <br> Distance In
    <%= number_field(:workout, :lenght, in: 1.0..200.0, step: 0.5) %>
     Miles
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
