<%= @workouts.each do |workout| %>
  <div class="workout_wrapper">
      <div class="workout_info">
        <p class="workout_created_by_username">
          <h1> <%= link_to workout.created_by_username, workout %> Has Completed A Workout</h1>
        </p>
        <p class="workout_lenght">
          Distance: <%= workout.lenght %> Miles <br>
        </p>
        <p class="workout_time_taken">
          Time Taken In: <%= workout.time_taken %> Minutes <br>
        </p>
      </div>
    <h4 class="comments">Comments</h4> <!-- Add If Comments Conditional -->
    <div class="comments_wrapper">
      <button class ="btn btn-outline-primary">
        <%= link_to "Make A Comment", comments_path %>
      </button>
    </div>
  </div>
<% end %>

