
<div class="workout_wrapper">
    <div class="workout_info">
      <p class="workout_created_by_username">
        <h1> <%= link_to @workout.created_by_username, profiles_showuser_path(@workout.created_by_id) %> Has Completed </h1>
      </p>
      <p class="workout_lenght">
        <%= @workout.lenght %> Miles <br>
      </p>
      <p class="workout_time_taken">
        Time Taken In: <%= @workout.time_taken %> Minutes <br>
      </p>
    </div>
  <h2>Comments: </h2>
  <% if @workout.comment.exists?  %>
      <%= @workout.comment.each do |comment| %>
        <h6 class = "comment_user"> <%= comment.username %> said: </h6>
        <p class="comment_content"> <%= comment.text %> </p>
      <% end %>
  <% else %>
    <p>No Comments Exist</p>
  <% end %>

  <button class ="btn btn-outline-primary" id="wk-comment-toggler" onclick="toggleComment()">
    Create a Comment
  </button>
  <div id="comment_text" style="display: none;">
    <%= render 'comments/form' %>
  </div>
</div>

<script>
  function toggleComment()
  {
    var div = document.getElementById('comment_text');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }

  }
</script>
