<!DOCTYPE html>
<html>
  <head>
    <title>Brava</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand">
      <div class="navbar-brand-name">
        <%= link_to "Brava", root_path %>
      </div>
    </a>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Home", root_path %> </li>
        <li class="nav-item"><%= link_to "My Profile", profiles_path %> </li>
        <li class="nav-item"><%= link_to "Add Workout", new_workout_path %> </li>
        <li class="nav-item"><%= link_to "Groups", groups_path %> </li>
      <% end %>

    <% if user_signed_in? %>
      <li class="nav-item"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
    <% end %>
    </ul>
  </nav>

  <% if !user_signed_in? %>
      <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
