<!DOCTYPE html>
<html>
  <head>
    <title>Brava</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg" %>
      <% end %>
    </div>

    <ul>
      <li class="category">Brava</li>
      <% if user_signed_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "My Profile", profiles_path %></li>
        <li><%= link_to "Add Workout", new_workout_path %></li>
        <li><%= link_to "Groups", root_path %></li>
      <% end %>
    </ul>

    <% if !user_signed_in? %>
      <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
